button(ng-click='createBridge(selected)', ng-disabled='clientForm.$pristine || daemonForm.$pristine') Create
p Client
form(name='clientForm')
  div(ng-repeat='c in client')
    label
      input(type='radio', value='{{ c.value }}', ng-model='selected.client')
      | {{ c.name }}
    br

p Daemon
form(name='daemonForm')
  div(ng-repeat='d in daemon')
    label
      input(type='radio', value='{{ d.value }}', ng-model='selected.daemon')
      | {{ d.name }}
    br
