doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    block content
    script(src='/static/dep/angular/angular.js')
    script(src='/static/dep/angular-resource/angular-resource.js')
    script(src='/static/dep/angular-route/angular-route.js')
    block script
